<div class="login-container">
    <h1 class="login-title">Login</h1>
    <form id="loginForm" class="login-form">
        <label class="login-label">Email</label>
        <input class="login-input" name="email">
        <br/>
        <label class="login-label">Contraseña</label>
        <input class="login-input" name="password" type="password">
        <br/>
        <input class="login-submit" type="submit">
    </form>
    <p class="register-link">No estás registrado? <a class="register-link" href="/register">Regístrate aquí</a></p>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-message"></p>
    </div>
</div>
<script  src="/js/login.js"></script>