<div class="profile-container">
    <h1>Bienvenido a tu perfil</h1>
    <p class="profile-info">Nombre: {{user.name}}</p>
    <p class="profile-info">Email: {{user.email}}</p>
    <p class="profile-info">Edad: {{user.age}}</p>
    <p class="profile-info">Rol: {{user.role}}</p>
    <a href="/api/sessions/logout" class="logout-button">Cerrar sesión</a>
</div>