<div class="register-container">
    <h1 class="register-title">Registro</h1>
    <form id="registerForm" class="register-form">
        <label class="register-label">Nombre</label>
        <input class="register-input" name="first_name">
        <br/>
        <label class="register-label">Apellido</label>
        <input class="register-input" name="last_name">
        <br/>
        <label class="register-label">Email</label>
        <input class="register-input" name="email">
        <br/>
        <label class="register-label">Edad</label>
        <input class="register-input" name="age">
        <br/>
        <label class="register-label">Contraseña</label>
        <input class="register-input" name="password" type="password">
        <br/>
        <input class="register-submit" type="submit">
    </form>
    <p class="register-login-link">Ya tienes cuenta? <a class="register-login-link" href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>
